{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<title>SoWeLearn</title>
		<meta charset="utf-8">
                                <link rel="stylesheet" type="text/css" href="{% static 'css/main.css'%}">
                                <link href="{% static 'css/jquery.bxslider.css'%}" rel="stylesheet" />
                                 <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>

        <script type="text/javascript">
            function AJAXOptions(data, success, type, url, dataType, cache, error)
            {
                this.type = type || "get";
                this.url = url || "../profile2/";
                this.dataType = dataType || "json";
                this.cache = cache || false;
                this.success = success || function(){};
                this.error = error || function(){alert("操作失败!求提交失");};
            }
            AJAXOptions.prototype.setSuccess = function(sucCallback)
            {
                this.success = function(data, textStatus){
                    //simetimes, data is null but the request status is OK! maybe it's a bug! need to repair!!!
                    if(!data)
                        return;
                    else{
                        sucCallback(data);
                    }
                };
            }
            var ajaxOptions = new AJAXOptions();
            ajaxOptions.setSuccess(function(data){
                var uec = data.personalProfile.userEducationCredential;
                var uecCode = "";
                for(var i = 0, elength = uec.length; i < elength; i++){
                    uecCode += "<li>";
                    uecCode += uec[i].educationInfo;
                    if(uec[i].IsVerified){
                        uecCode += "[Verified]</li>";
                    }else{
                        uecCode += "[Unverified]</li>";
                    }
                }
                uec = data.personalProfile.userWorkCredential;
                for(var i = 0, elength = uec.length; i < elength; i++){
                    uecCode += "<li>";
                    uecCode += uec[i].workInfo;
                    if(uec[i].IsVerified){
                        uecCode += "[Verified]</li>";
                    }else{
                        uecCode += "[Unverified]</li>";
                    }
                }
                $("#aboutUserQuote").val(data.personalProfile.aboutUserQuote);
                $("#userEducationCredential").html(uecCode);
                $("#location").html(data.userLocation);
                $("#tutorTuitionTopics").html(data.tutorTuitionTopics);
            });
            $.ajax(ajaxOptions);
        </script>
	</head>
	<body>
		<div class="left">
            <div class="content">
                <div class="userImage">
                    <img src="../static/images/cambridge3.png">
                </div>
                <div class="leftDown">
                    <div class="navBtns">
                            <a href ="#" class="tabBtn learning">Learning</a>
                            <a href ="#" class="tabBtn teaching ">Teaching</a>
                            <a href ="#" class="tabBtn personal">Personal</a>
                    </div>
                    <div class="conts">
                        <div id="learning" class="contsDetail">
                            <p>About Learing:</p>
                        </div>
                        <div id="teaching"  class="contsDetail hide">
                            <p>About Teaching:</p>
                        </div>
                        <div id="personal" class="contsDetail hide">
                            <p>About yourself:</p>
                            <input type="text" id="aboutUserQuote" value=""/>
                            <p>Education and Work[edit]</p>
                            <ul id="userEducationCredential">

                            </ul>
                            <p>Basic Information[edit]</p>
                            <p id="location"></p>
                            <p id="tutorTuitionTopics"></p>
                        </div>
                    </div>
                    
                </div>
            </div>
		</div>
		<div class="main">
			<div class="mockUpImg"><img src="../static/images/7.jpg"/></div>
			<div class="leftUp"></div>
			<div class="rightUp"></div>
			<div class="leftBottom"></div>
			<div class="rightBottom"></div>
			<div class="bottomSearch">
				<div class="search">
					<input type="text" class="searchInput" placeholder="search a topic, tutor, subject"/>
					<a href="#" class="searchBtn searchSwing"></a>
				</div>
			</div>
		</div>
		<div id="right" class="right">
                                    <div class="content">
                                        <div class="requestInbox">
                                            <ul id="requestInbox-slider" class="bxslider">
                                                <li>
                                                    <div style="width:400px;height:200px;background-color:green;"></div>
                                                </li>
                                                <li>
                                                    <img src="../static/images/2.jpg" alt="image2"/>
                                                </li>  
                                                <li>
                                                    <img src="../static/images/3.jpg" alt="image2"/>
                                                </li>  
                                                <li>
                                                    <img src="../static/images/4.jpg" alt="image2"/>
                                                </li>  
                                                <li>
                                                    <img src="../static/images/5.jpg" alt="image2"/>
                                                </li>  
                                                <li>
                                                    <img src="../static/images/6.jpg" alt="image2"/>
                                                </li>  
                                                <li>
                                                    <img src="../static/images/7.jpg" alt="image2"/>
                                                </li>     
                                            </ul>
                                        </div>
                                        <div class="rightDown">
                                            <div class="appointmentSchedule"></div>
                                        </div>
                                    </div>
                                </div>
                <script type="text/javascript" src="{% static 'js/main.js'%}"></script>
                <script type="text/javascript" src="{% static 'js/jquery.bxslider.min.js'%}"></script>
                <script type="text/javascript" src="{% static 'js/jquery.slimscroll.js'%}"></script>
	</body>
</html>