.right {
  width: 420px;
  height: 100%;
  position: fixed;
  right: -420px;
  top: 0;
  background-color: #FBFBA3;
}
.right .content,
.right .content .rightDown {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 10px;
}
.right .content .requestInbox {
  position: relative;
  width: 400px;
  height: 280px;
  margin-left: 10px;
}
.right .content .appointmentSchedule {
  position: relative;
  width: 400px;
  height: 800px;
  margin-left: 10px;
  background-color: orange;
}
